body{
}

@media (max-width: 768px) {
#btnHeader,#btnFooter,#btnCarousel,#btnNavbar,#btnMap{
width: 80px;
margin-left:8px;
margin-top: 3px;
margin-bottom: 3px;
  }  
#btnPageContent, #btnDemo, #btnDownload {
        width: 130px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (min-width: 768px) {
#btnHeader,#btnFooter,#btnCarousel,#btnNavbar,#btnMap {
width: 130px; 
margin-top: 5px;
margin-bottom: 5px;
  } 
  #btnPageContent, #btnDemo, #btnDownload {
        width: 130px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
  
@media (min-width: 992px) {
    #btnHeader, #btnFooter, #btnCarousel, #btnNavbar, #btnMap {
        width: 130px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #btnPageContent, #btnDemo, #btnDownload {
        width: 130px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (min-width: 1200px) {
  #btnHeader,#btnFooter,#btnCarousel,#btnNavbar,#btnMap {
width: 130px;
margin-top: 5px;
margin-bottom: 5px;
  }
  #btnPageContent, #btnDemo, #btnDownload {
        width: 130px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (max-width: 1000px) {
    html, body {
        min-width: 700px !important;
    }
}

#mycontainer{
    width: 100%; 
    border: 1px solid gray; 
    height: 920px;
}
#map {
        height: 16%;
        width: 96.2%;
        border:2px solid lightgrey;
     }
#ContentArea{
    height:381px; 
    border:1px solid gray; 
    width: 96.2%; left:0px; 
    right:0px; position:absolute; 
    top:350px;
}
#myCarousel{
    width:96.3%; 
    position: absolute; 
    top: 200px; 
    left: 16px
}
#navbarContain {
    position: absolute;
    top: 151px;
    width: 96.3%;
}

#destroyHeader{
        position:absolute;
        top:61px;
        left:815px; 
        z-index:10;
    }
#headerdiv{
    border:1px solid;
    width:96.3%;
    position:absolute;
    left:16px;
    height:90px;
    margin: 0;
    border-color: lightgrey;
    background-color: lightgrey;
}

#footerdiv{
    border: 1px solid;
    width:100%;
    position:absolute;
    left:0px;
    height:91px;
    margin: 0;
    border-color:lightgrey;
   background-color: lightgrey;
}

@media screen and (max-width: 1200px) {
#myCarousel{
    width:95%; 
    position: absolute; 
    top: 200px; 
    left: 16px
}
#map {
        height: 16%;
        width: 95%;
        border:2px solid lightgrey;
     }
#ContentArea{
    height:381px; 
    border:1px solid gray; 
    width: 95%; left:0px; 
    right:0px; position:absolute; 
    top:350px;
}
#navbarContain {
    position: absolute;
    top: 151px;
    width: 95%;
}
#headerdiv{
    border: 1px solid gray;
    width:95%;
    position:absolute;
    left:16px;
    height:90px;
    margin: 0;
   background-color: lightgrey;
   
}
#footerdiv{
    border: 1px solid gray;
    width:98.7%;
    position:absolute;
    left:0px;
    height:91px;
    margin: 0;
   background-color: lightgrey;
}
}

@media screen and (max-width: 1000px) {
#myCarousel{
    width:93.5%; 
    position: absolute; 
    top: 200px; 
    left: 16px
}
#map {
        height: 16%;
        width: 93.5%;
        border:2px solid lightgrey;
     }
#ContentArea{
    height:381px; 
    border:1px solid gray; 
    width: 94%; left:0px; 
    right:0px; position:absolute; 
    top:350px;
}
#navbarContain {
    position: absolute;
    top: 151px;
    width: 93.5%;
}
#headerdiv{
    border: 1px solid gray;
    width:93.5%;
    position:absolute;
    left:16px;
    height:90px;
    margin: 0;
   background-color: lightgrey;
}
#footerdiv{
    border: 1px solid gray;
    width:97.5%;
    position:absolute;
    left:0px;
    height:91px;
    margin: 0;
   background-color: lightgrey;
}
}
