body{
}


@media (max-width: 768px) {
 #btnHeader {
width: 80px;
margin-left:8px;
margin-top: 3px;
margin-bottom: 3px;

  }
   #btnFooter {
   width: 80px;
   margin-left:8px;
margin-top: 3px;
margin-bottom: 3px;
  }
    #btnCarousel {
   width: 80px;
   margin-left:8px;
margin-top: 3px;
margin-bottom: 3px;
  }
     #btnNavbar {
   width: 80px;
   margin-left:8px;
margin-top: 3px;
margin-bottom: 3px;
  }
      #btnMap {
   width: 80px;
   margin-left:8px;
margin-top: 3px;
margin-bottom: 3px;
  }
}

@media (min-width: 768px) {
  #btnHeader {
width: 130px; 
margin-top: 5px;
margin-bottom: 5px;
  }
   #btnFooter {
   width: 130px;
margin-top: 5px;
margin-bottom: 5px;
  }
    #btnCarousel {
   width: 130px;
margin-top: 5px;
margin-bottom: 5px;
  }
     #btnNavbar {
   width: 130px;
margin-top: 5px;
margin-bottom: 5px;
  }
      #btnMap {
   width: 130px;
margin-top: 5px;
margin-bottom: 5px;
  }
}
  
@media (min-width: 992px) {
 #btnHeader {
width: 130px;
margin-top: 5px;
margin-bottom: 5px;
  }
   #btnFooter {
   width: 130px;
margin-top: 5px;
margin-bottom: 5px;
  }
    #btnCarousel {
   width: 130px;
margin-top: 5px;
margin-bottom: 5px;
  }
     #btnNavbar {
   width: 130px;
margin-top: 5px;
margin-bottom: 5px;
  }
      #btnMap {
   width: 130px;
margin-top: 5px;
margin-bottom: 5px;
  }
}
 
@media (min-width: 1200px) {
  #btnHeader {
width: 130px;
margin-top: 5px;
margin-bottom: 5px;
  }
   #btnFooter {
   width: 130px;
margin-top: 5px;
margin-bottom: 5px;
  }
    #btnCarousel {
   width: 130px;
margin-top: 5px;
margin-bottom: 5px;
  }
     #btnNavbar {
   width: 130px;
margin-top: 5px;
margin-bottom: 5px;
  }
      #btnMap {
   width: 130px;
margin-top: 5px;
margin-bottom: 5px;
  }
}

@media  (max-width: 786px) {
    html, body {
min-width: 680px !important;
}
    }


#map {
        height: 16%;
        width: 96.2%;
        border:2px solid lightgrey;
     }