<!DOCTYPE html>
<html lang="eng">
<head>
	<title>Medical Category CodeGen</title>

	<!--meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Medically Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	<!--//meta tags ends here-->
	<!--booststrap-->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">

	<!--//booststrap end-->

	<!-- font-awesome icons -->
	<link href="css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons -->
	<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" />
	<!-- gallery-->
	<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all">
	<!-- clients-->

	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
	<!-- banner text slider-->
	<!--stylesheets-->
	<link href="css/style.css" rel='stylesheet' type='text/css' media="all">
	<!-- banner text slider-->

	<link href="//fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600" rel="stylesheet">
	<!--//style sheet end here-->
</head>

<body>
	<div class="banner-w3" id="home">
		<div class="w3-agile-logo">
			<div class=" head-wl">
				<div class="agileinfo-social-grids">
					<ul>
						<li><a href="#"><span class="fa fa-facebook"></span></a></li>
						<li><a href="#"><span class="fa fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-rss"></span></a></li>
						<li><a href="#"><span class="fa fa-vk"></span></a></li>
					</ul>
				</div>
				<div class="w3-header-top-right">
					<div class="email-right">
						<p><span class="fa fa-envelope" aria-hidden="true"></span> <a href="mailto:mail@example.com" class="info"> info@example.com</a></p>

					</div>
					<div class="w3-header-top-right-text">

						<p><span class="fa fa-phone" aria-hidden="true"></span> (111)+245 245 66</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="header-w3layouts">

			<!-- Navigation -->
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
					<h1><a class="navbar-brand " href="index.html">Medically</a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
						<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
						<li class="hidden"><a class="page-scroll" href="#page-top"></a> </li>
						<li><a class="page-scroll" href="#home">Home</a></li>
						<li><a class="page-scroll scroll" href="#about">About</a></li>
						<li><a class="page-scroll scroll" href="#gallery">Laboratory</a></li>
						<li><a class="page-scroll scroll" href="#contact">Contact</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
		</div>
		<div class="container">
			<!-- header -->
			<header>
				<div class="flexslider-info">
					<section class="slider">
						<div class="flexslider">
							<ul class="slides">
								<li>
									<div class=" w3l-info">
										<div class="col-md-8  info-lleft-side">
											<h4>Welcome To Hospital</h4><br>
											</div>
										<div class=" col-md-4 w3layouts_more-buttn">
											<a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
										</div>
									</div>

								</li>
								<li>
									<div class=" w3l-info">
										<div class="col-md-8 info-lleft-side">
											<h4>Better Health Care</h4></div>
										<div class=" col-md-4 w3layouts_more-buttn">
											<a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
										</div>
									</div>
								</li>
								<li>
									<div class=" w3l-info">
										<div class="col-md-8 info-lleft-side">
											<h4>Get YourSelf Fixed</h4>
											</div>
										<div class=" col-md-4 w3layouts_more-buttn">
											<a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</section>
				</div>
			</header>
		</div>
		<div class="clearfix"> </div>
	</div>

	<!-- //header -->
	<!--about -->
	<div class="agileits-banner-grids text-center">
		<div class="banner-bottom-girds">
			<div class="col-md-4  col-sm-4 clr1 agileits-banner-grid">
				<span class="fa fa-heart banner-icon" aria-hidden="true"></span>
				<h4>Transplant</h4>
			</div>
			<div class="col-md-4 col-sm-4 clr2 agileits-banner-grid">
				<span class="fa fa-ambulance banner-icon" aria-hidden="true"></span>
				<h4>Emergency</h4>
			</div>
			<div class=" col-md-4 col-sm-4 clr3 agileits-banner-grid">
				<span class="fa fa-heartbeat banner-icon" aria-hidden="true"></span>
				<h4>Client Care</h4>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="about" id="about">
		<div class="container">
			<div class="imgg-info-w3">
				<div class="col-md-6 left-about-img">

					<img src="images/a1.jpg" class="img-responsive s1" alt="s1">
				</div>
				<div class="col-md-6 welcome-left wel">
					<div class="welcome-left-top">
						<h4>Who are we </h4>
						<p>THE MEDICAL TEAM, INC. is a privately held company established in 1978 and headquartered in suburban Washington, DC (Reston, VA). Our family of companies includes: THE MEDICAL TEAM, INC., Med Team, Inc., THE MEDICAL TEAM Personal Care Services and Catastrophic Care Solutions. The company has operated home care agencies in Louisiana since 1979, in Texas and Michigan since 1983, and in Virginia since 1985. Each is licensed and certified to provide services under Medicare and Medicaid. <div class="agileits_w3layouts_more">
					    <a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--//about -->
	<!--gallery-->
	<div class="gallery titl-bottom" id="gallery">
		<h3 class="title">Laboratory</h3>
		<div class="gallery-info">
			<div class="col-md-6 col-sm-6 gallery-grids glry-grid1 ">
				<div class="gallery-grids-top w3_agile_gallery_grid ">
					<a class="b-link-stripe" href="images/g4.jpg" data-lightbox="example-set" data-title="Making your life easier. ">
							<img src="images/g4.jpg" class="img-responsive" alt="">
							<div class="b-wrapper">			
							</div>
						</a>
				</div>
				<div class="gallery-grids-top">
					<div class="col-md-6 col-sm-6 bottom-grids w3_agile_gallery_grid">
						<a class="b-link-stripe" href="images/g1.jpg" data-lightbox="example-set" data-title="Making your life easier.">
								<img src="images/g1.jpg" class="img-responsive" alt="">
								<div class="b-wrapper">			
								</div>
							</a>
					</div>
					<div class="col-md-6 col-sm-6 bottom-grids w3_agile_gallery_grid">
						<a class="b-link-stripe" href="images/g2.jpg" data-lightbox="example-set" data-title="Making your life easier.">
								<img src="images/g2.jpg" class="img-responsive" alt="">
								<div class="b-wrapper">				
								</div>
							</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 gallery-grids w3_agile_gallery_grid glry-grid2">
				<a class="b-link-stripe " href="images/g3.jpg" data-lightbox="example-set">
						<img src="images/g3.jpg" class="img-responsive" alt="">
						<div class="b-wrapper">			
						</div>
					</a>
			</div>
			<div class="col-md-3 col-sm-3 gallery-grids w3_agile_gallery_grid glry-grid3">
				<a class="b-link-stripe" href="images/g6.jpg" data-lightbox="example-set">
						<img src="images/g6.jpg" class="img-responsive" alt="">
						<div class="b-wrapper">				
						</div>
					</a>
				<a class="b-link-stripe" href="images/g5.jpg" data-lightbox="example-set">
						<img src="images/g5.jpg" class="img-responsive" alt="">
						<div class="b-wrapper">			
						</div>
					</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--//gallery-->
	<!-- team-->
	<div class="team agileits" id="team">
		<div class="team-info">
			<div class="container">
				<h3 class="title ">Our specialists</h3>
				<div class="team-row">
					<div class="col-md-4 col-sm-4 col-xs-4 team-grids">
						<div class="team-agile-img">
							<a href="#"><img src="images/t1.jpg" alt="img"></a>

							<div class="view-caption">
								<div class="t-info">
									<h5>Director</h5>
									<p>John willky</p>
								</div>
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								</ul>
							</div>

						</div>

					</div>
					<div class="col-md-4 col-sm-4 col-xs-4 team-grids">
						<div class="team-agile-img">
							<a href="#"><img src="images/t2.jpg" alt="img"></a>
							<div class="view-caption">
								<div class="t-info">
									<h5>HOD</h5>
									<p>Lara kent</p>
								</div>
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								</ul>
							</div>
						</div>

					</div>


					<div class="col-md-4 col-sm-4 col-xs-4 team-grids">
						<div class="team-agile-img">
							<a href="#"><img src="images/t3.jpg" alt="img"></a>
							<div class="view-caption">
								<div class="t-info">
									<h5>Psyhologist</h5>
									<p>Jack will</p>
								</div>
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								</ul>
							</div>
						</div>

					</div>

				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //team -->
	<!--contact-->
	<div class="contact" id="contact">
		<div class="container">
			<h3 class="title">CONTACT US</h3>

			<div class=" col-md-7 contact-address">
				<h4>Contact Address</h4>
				<div class="para-left">
					<p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat
						a, tellu
					</p>
				</div>
				<div class="contact-left">
					<div class="address-contact-left ">
						<h5>Address:</h5>
						<p><span class="fa fa-home"></span> 000 Hridaypur, Kolkata:700124 </p>
					</div>
					<div class="address-contact-left ">
						<h5>Phones:</h5>
						<p><span class="fa fa-phone"></span> +0000000000</p>
						<p><span class="fa fa-phone"></span> +000 0000 0000</p>
					</div>
					<div class="address-contact-left ">
						<h5>Email:</h5>
						<p><span class="fa fa-envelope"></span> <a href="mailto:info@example.com">mail@example.com</a></p>
					</div>
				</div>
			</div>
			
			<div class="clearfix"> </div>
			<div class="contact-form">
				<form action="#" method="post">
					<div class="col-md-6 col-sm-6 col-xs-6 form-right form-left">
						<input type="text" name="name" placeholder="Name" required="">
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 form-right ">
						<input type="text" name="Last name" placeholder="Last name" required="">
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 form-right form-left">
						<input type="email" name="Email" placeholder="Email" required="">
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 form-right ">
						<input type="text" name="phone" placeholder="Phone" required="">
						<div class="clearfix"> </div>
					</div>
					
					<textarea name="Message" placeholder="Message" required=""></textarea>
					<input type="submit" value="SUBMIT">
				</form>
		
			</div>

		</div>
	</div>
	<!--//contact-->

	<!--footer-->

	<div class="footer">
	    <div class="container">
		<div class="colr-row col-md-6  ">
			<div class="col-md-6 col-sm-6 col-xs-6  bottom-head bottm-grid">
				<h2><a href="index.html">Medically</a></h2>
				<div class="clearfix"> </div>
			</div>
			
			<div class="col-md-6 col-sm-6 col-xs-6 copyright bottm-grid">
				<h3>Follow us</h3>
				<div class="icons">
					<ul>
						<li><a href="#"><span class="fa fa-facebook"></span></a></li>
						<li><a href="#"><span class="fa fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-rss"></span></a></li>
						<li><a href="#"><span class="fa fa-vk"></span></a></li>
					</ul>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
			</div>
			<div class="colr-row  col-md-6">
			<div class="col-md-6 col-sm-6 col-xs-6 one bottm-grid">
				<h3>About us</h3>
				<p> A hospital is a health care. </p>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 three bottm-grid">
				<h3>Contact</h3>
				<div class="addres up-out">
					<p><span class="fa fa-map-marker icons-left" aria-hidden="true"></span> 000 Hridaypur, Kolkata:700124</p>

					<p><span class="fa fa-phone icons-left" aria-hidden="true"></span>Call us:+0000000000</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- //Copyright -->
			<div class="clearfix"> </div>
		</div>
		</div>
	</div>
	<footer>
		<div class="copy">© 2017 CodeGen. All rights reserved. Designed by CodeGen </div>
	</footer>
	<!--menu script-->
	<script type='text/javascript' src='js/jquery-2.2.3.min.js'></script>
	<script src="js/bootstrap.js"></script>
	<!--//menu script-->
	<!--FlexSlider banner-->
	<script defer src="js/jquery.flexslider.js"></script>
	<script type="text/javascript">
		$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				start: function (slider) {
					$('body').removeClass('loading');
				}
			});
		});
	</script>
	<!--End-slider-script-->
	<!-- OnScroll-Number-Increase-JavaScript -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();
	</script>
	<!-- //OnScroll-Number-Increase-JavaScript -->
	<script src="js/jquery.chocolat.js"></script>

	<!--light-box-files -->
	<script type="text/javascript">
		$(function () {
			$('.w3_agile_gallery_grid a').Chocolat();
		});
	</script>
	<!-- //gallery -->
	<!--client carousel -->
	<script src="js/owl.carousel.js"></script>
	<script>
		$(document).ready(function () {
			$("#owl-demo").owlCarousel({
				items: 1,
				itemsDesktop: [768, 1],
				itemsDesktopSmall: [414, 1],
				lazyLoad: true,
				autoPlay: true,
				navigation: true,

				navigationText: false,
				pagination: true,

			});

		});
	</script>
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<!-- //here ends scrolling icon -->
</body>

</html>